.button-class {
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: var(--gap-normal) var(--gap-normal) var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:
        transform 0.2s ease-out,
        box-shadow 0.2s ease-out;
}

.button-class:hover {
    cursor: pointer;
}

.button-class:active {
    box-shadow: none;
    transform: translate(8px, 8px);
}

.button-clicked {
    box-shadow: none;
    transform: translate(8px, 8px);
}
