.button-class {
    border: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: var(--gap-normal) var(--gap-normal) var(--primary-color);
    transition: transform 0.2s ease-out;
}

.button-class:hover {
    cursor: pointer;
}

.button-class:active {
    box-shadow: none;
    transform: translate(8px, 8px);
}

.button-is-pressed {
    box-shadow: none;
    transform: translate(8px, 8px);
}
