.menu {
    z-index: 999;
    width: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--tertiary-color);
    transition: transform 1s ease-in-out;
}

.menu::before {
    z-index: 9999;
    content: "";
    position: absolute;
    box-sizing: border-box;
    right: 0;
    width: 140px;
    height: 140px;
    margin: -74px;
    transform: rotate(45deg);
    background-color: var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
}

.menu-wrapper {
    height: fit-content;
    padding: var(--gap-xlarge);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xlarge);
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.menu-wrapper::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    border-left: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
}

.menu-content-wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xlarge);
}

.menu-button-wrapper {
    margin-bottom: var(--gap-xlarge);
}

.menu .button-class {
    line-height: 32px;
    font-weight: 700;
    padding: var(--gap-normal);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

@media screen and (max-width: 576px) {
    .menu::before {
        display: none;
    }

    .menu-wrapper::before {
        display: none;
    }
}
