.menu {
    width: 100%;
    z-index: 999;
    position: absolute;
    left: 0;
    background-color: var(--secondary-color);
    transition: transform 1s ease-in-out;
    overflow: scroll;
}

.menu-wrapper {
    margin: var(--gap-xlarge);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xlarge);
    color: var(--primary-color);
}

.menu-content-wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xlarge);
}

.menu .button-class {
    line-height: 32px;
    padding: var(--gap-normal);
    color: var(--tertiary-color);
    background-color: var(--complementary-color);
}
