#menu {
    z-index: 999;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    transition: transform 0.5s ease-in;
    transform: translateX(0);
}

#menu.read {
    transform: translateX(-100%);
}

#menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    margin: var(--gap-xlarge);
}

#menu-content-wrapper {
    flex-grow: 1;
    font-size: 2rem;
}

#menu-button-wrapper {
    flex-grow: 2;
}
