#menu {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: transform 0.5s ease-in;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu.read {
    transform: translateY(-100%);
}

#start-button {
    color: var(--tertiary-color);
    background-color: var(--complementary-color);
    padding: var(--gap-small);
}
