#image-show {
    z-index: 9999;
    position: absolute;
    background-color: white;
    animation: pulse-glow 5s infinite alternate;
    display: none;
}

#image-show-display-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#image-show-close-button {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--gap-small);
    right: var(--gap-normal);
    line-height: 32px;
}
