#board {
    position: relative;
    animation: pulse-glow 5s infinite alternate;
    /* background-color: var(--tertiary-color); */
    background-color: white;
}

#board .freehand {
    position: absolute;
}

#reset-button, #goal-display-button {
    margin: var(--gap-small);
    position: absolute;
    z-index: 99;
}

#goal-display-button {
    right: var(--gap-normal);
}

#reset-button object, #goal-display-button object {
    pointer-events: none;
}

#front-canvas {
    z-index: 2;
    transition: transform 0.5s, opacity 1.0s;
    transform-origin: top right;
}

#back-canvas {
    z-index: 1;
}

.dropped {
    transform: rotate(-10deg) translateY(400px);
    opacity: 0;
}
