#board {
    position: relative;
    animation: pulse-glow 5s infinite alternate;
    background-color: var(--tertiary-color);
}

#board .freehand {
    position: absolute;
}

#reset-button, #goal-display-button {
    z-index: 99;
    width: 36px;
    height: 36px;
    position: absolute;
    margin: var(--gap-small);
    padding: 0;
}

#goal-display-button {
    right: var(--gap-normal);
}

#front-canvas {
    z-index: 2;
    transition: transform 0.5s, opacity 1.0s;
    transform-origin: top right;
}

#back-canvas {
    z-index: 1;
}

.dropped {
    transform: rotate(-10deg) translateY(400px);
    opacity: 0;
}
