#start-menu {
    background-position: center;
    background-image: url("/images/states-galore.png");
    background-repeat: repeat;
    background-size: 800px 450px;
}

#start-menu .dummy-button {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0 4px 0 0;
    padding: 0;
    line-height: 36px;
}

#start-menu-player-tips ul {
    margin: var(--gap-normal) 0;
    padding-left: var(--gap-xlarge);
}

#start-menu-player-tips ul li {
    margin-bottom: var(--gap-large);
}
