#stat-container {
    display: none;
    position: relative;
    top: -100px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    transition: top 0.9s ease-in-out;
}

.stat-display-item-1 {
    grid-column: 1;
    justify-self: left;
}

.stat-display-item-2 {
    grid-column: 2;
    justify-self: center;
}

.stat-display-item-3 {
    grid-column: 3;
    justify-self: end;
}
