#end-menu {
    transform: translateX(-100%);
}

#end-menu .menu-wrapper::before {
    background-color: brown !important;
}

#end-menu-content-wrapper {
    text-align: center;
}

#end-menu-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xlarge);
}

#end-menu-retry-button {
    background-color: brown;
}

#end-menu-player-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-xlarge);
}

.end-menu-player-gallery-item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
}

.end-menu-player-gallery-item img {
    width: 224px;
    height: 224px;
    object-fit: contain;
    background-color: var(--tertiary-color);
    border: 2px solid var(--primary-color);
    box-shadow: var(--gap-small) var(--gap-small) var(--gap-small) var(--primary-color);
}
