#end-menu-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
}

#end-menu-gallery-wrapper {
    width: 300px;
    height: 300px;
}

#end-menu-gallery-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
