#end-menu {
    transform: translateX(-100%);
}

#end-menu-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
}

#end-menu-sandbox-button {
    background-color: brown;
}

#end-menu-retry-button {
    background-color: rgb(0, 128, 0);
}

#end-menu-player-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.end-menu-player-gallery-item img {
    width: 224px;
    height: 224px;
    object-fit: contain;
    background-color: var(--tertiary-color);
}
