:root {
    --primary-color: #000000;
    --secondary-color: #FF9001;
    --tertiary-color: #C4C4C4;
    --accent-color: #FF4200;
    --complementary-color: #4B4B4B;
    --gap-small: 4px;
    --gap-normal: 8px;
    --gap-large: 16px;
    --gap-xlarge: 32px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font: 1rem;
    color: var(--tertiary-color);
    background: var(--primary-color);
}

#loading-loop {
    position: absolute;
}

#wrapper {
    z-index: 1;
    margin: var(--gap-large);
    display: flex;
    flex-direction: column;
    gap: var(--gap-xlarge);
    min-width: 224px;
    min-height: 100vh;
}

#app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hide {
    display: none;
}

@keyframes pulse-glow {
    0% {
        box-shadow: var(--gap-small) var(--gap-small) var(--gap-small) color-mix(in srgb, var(--secondary-color) 90%, var(--accent-color) 10%)
    }

    100% {
        box-shadow: var(--gap-small) var(--gap-small) var(--gap-normal) color-mix(in srgb, var(--secondary-color) 10%, var(--accent-color) 90%)
    }
}

@media screen and (max-width: 576px) {
    #wrapper {
        margin: var(--gap-small);
    }
}
