:root {
    --primary-color: #000000;
    --secondary-color: #FF9001;
    --tertiary-color: #C4C4C4;
    --accent-color: #FF4200;
    --complementary-color: #4B4B4B;
    --gap-small: 4px;
    --gap-normal: 8px;
    --gap-large: 16px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font: 1rem;
    color: var(--tertiary-color);
    background: var(--primary-color);
}

#wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#app {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: var(--gap-large);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--complementary-color);
}

#display-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: var(--gap-large);
    margin: var(--gap-large);
    box-shadow: var(--gap-small) var(--gap-small) var(--secondary-color);
}

.hide {
    display: none;
}
