* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --text-color: black;
    --background-color: white;
    --primary-color: cornflowerblue;
    --secondary-color: blue;
    --accent-color: black;
}

body {
    margin: 0;
    padding: 0;
}

#background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/images/background-image.jpg") no-repeat center fixed;
    background-size: cover;
    filter: blur(2px);
}

#content {
    z-index: 1;
}

#banner {
    padding: 0;
    margin: 0;
    line-height: 2rem;
    font-size: 2rem;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

#display-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 16px;
}

.hide {
    display: none;
}
